# ---------------- PYTHON ----------------
__pycache__/
*.pyc

# ---------------- ENV ----------------
venv/
env/
.env

# ---------------- DATA ----------------
data/*.npy
data/*.pkl

# ---------------- MODELS ----------------
models/*.h5
models/*.pt
models/*.tflite

# ---------------- NOTEBOOK ----------------
.ipynb_checkpoints/

# ---------------- LOGS ----------------
*.log

# ---------------- OS ----------------
.DS_Store
Thumbs.db

# ---------------- IDE ----------------
.vscode/
.idea/